@tailwind base;
@tailwind components;
@tailwind utilities;







/* 

.header{
   display:flex;
   justify-content:space-between;
   border : 1px solid black;
   
}

.logo > img {
   width:100px;
   padding :10px;
   margin : 1px;
   border-radius: 12px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
   
}

.nav-items> ul >li {
    padding: 0px;
    margin:  10px;
   
}

.res-card
{  
    
    padding:5px;
    margin:5px;
    width:200px;
    
}

.res-card:hover{
    cursor:pointer;
    border:1px solid black;

}

.res-logo{
    width:100%;

}

.filter-btn{
    padding: 5px;
    margin:10px;
    border-radius: 10px;
    background: #e7b213d3;
    
}

.filter-btn:hover{
    cursor:pointer;
    border:1px solid black;

}

.res-container{

   
    display:flex;
    flex-wrap: wrap;

}

.shimmer-container{

    display : flex;
    flex-wrap: wrap;
}


.shimmer-card{
    margin: 20px;
    width: 200px;
    height:400px;
    background-color: aliceblue;
}

.login {
    padding: 0 20 px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.search-box{
    padding: 5px;
    margin:5px;
}

.btn{
    padding: 5px;
    margin:-4px;
}
.btn:hover{
    
    cursor:pointer;
    border:1px solid black;
}

.user-card {

  padding: 10px;
  border: 1px solid black;

} */